*{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.section-1{
    background-image: url("images/hero-cover3.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 105vh;
    padding-left: 8vw;
    padding-right: 8vw;

}


/* Project-Primary-Color: #23A6F0
Background-Color: #252B42
Font type: Montserra */

/* Rows and column design*/

.row::after{
    content: "";
    clear: left;
    display: table;
}

[class*="column-"]{
    float: left;
    padding: 10px;
}

.column-third{
    width: 33.33%;
}

.column-half{
    width: 50%;
}
.column-quoter{
    width: 25%;
}

.column-three-quoter{
    width: 75%;
}

.column-fidth{
    width: 18%;
}


/*Desigining the header*/
header{
    padding-top: 2vw;
}

.company-name{
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    font-size: 20px;
    font-weight: 900;
}

.links ul{
    list-style: none;
}

.links li{
    display: inline-block;
    padding-left: 15px;
}

.links a{
    text-decoration: none;
    display: inline-block;
    text-decoration: none;
    color: whitesmoke;
    padding: 10px;
    border-radius: 8px;
}

.links a:hover{
    color: #23A6F0;
    background-color: wheat;
    transition: 1s;
}

.login{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    font-weight: 900;
}

#login {
    text-decoration: none;
    color: whitesmoke;
    padding: .7vw ;
    border-radius: 7px;

}

#login:hover{
    color: #23A6F0;
    background-color: wheat;
    transition: 1s;
}

.login-btn{
    padding: 15px;
    border: none;
    border-radius: 7px;
    background-color: #23A6F0;
    color: white;
    font-size: 20px;
    font-weight: 900;
}

.login-btn:hover{
    background-color: wheat;
    color: #23A6F0;
    transition: 1s;
}

/* Stying the info area*/

.welcome{
    align-items: center;
    text-align: center;
    padding-top: 10vw;
    padding-bottom: 10vw;
    
}

.welcome h1{
    font-size: 50px;
    color: white;
}

.welcome h3{
    color: white;
}

.more-btn{
    padding-top: 3vw;
    justify-content: space-around;

}

.more-btn .button-1{
    text-decoration: none;
    text-align: center;
    padding: 10px;
    color: white;
    border: none;
    border-radius: 20px;
    background-color: #23A6F0;
}

.button-1:hover{
    background-color: wheat;
    color: turquoise;
    transition: 1s;
}

.more-btn .button-2{
    text-decoration: none;
    text-align: center;
    padding: 10px;
    border: 1px solid white;
    border-radius: 20px;
    background: rgba(0, 0, 0, .01);
    margin-left: 5vw;
    color: white;
}
.button-2:hover{
    background-color: #23A6F0;
    color: white;
    transition: 1s;
}




/* Styling the info cards*/
.card{
    padding:2vw 5vw 2vw 5vw;
    background-color: white;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, .3);
}
.card h1{
    font-size: 40px;
    color: #23A6F0;
}

.last{
    background-color: #23A6F0;
    color: white;
}

.last h1{
    color: #f2f2f2;
}


/*Life*/

.life-section{
    padding-left: 11vw;
    padding-right: 11vw;
    padding-top: 20vw;
    padding-bottom: 15vw;
    background-color: #f2f2f2;
}

.life-content{
    text-align: center;
}

.life-content h1{
    color: #23A6F0;
    font-size: 40px;
}

.life-content h5{
    font-weight: bold;
}
/* Industry Section*/
.industry-section{

    padding-left: 7vw;
    padding-right: 7vw;
    padding-top: 4vw;
    padding-bottom: 20vh;
}

.heder{
    text-align: center;
    padding-bottom: 10vh;
}


.contact-card{
    box-shadow: 0px 4px 7px rgba(0, 0, 0, .3);
    max-width: 90%;
    padding: 25px;
    border-radius: 20px;
    text-align: center;
    
}
.contact-card h2{
    color: rgba(233, 193, 14, 0.851);
}

.contact-card h2, p{
    padding-top: 2vw;
}

.contact-card img{
    max-height: 150px
}

.social-media{
    padding-right: 7vw;
    padding-left: 7vw;
    justify-content: space-around;
    padding-bottom: 3vw;
}

.social-icons{
    display: flex;
    justify-content: space-around;
}
.social-icons img{
    max-height: 4vw;
    justify-content: space-around;
    display: inline-block;
}

/* Styling the newsletter*/

.subscription{
    padding-left: 7vw;
    padding-right: 7vw;
}
.newsletter{
    background: linear-gradient(100deg, #252B42, #4d2245);
    padding: 3vw;
}

.newsletter h2{
    color: white;
}

.newsletter p{
    float: right;
    border-radius: 20px;
    width: 100%;
}

.newsletter input{
    text-align: center;
    border: none;
    width: 70%;
    height: 70px;
    border-radius: 5px;
}
.newsletter button{
    height: 70px;
    width: 30%;
    border-radius: 5px;
    border: none;
    text-align: center;
    background-color: #23A6F0;
}

.newsletter button:hover{
    background-color: wheat;
    color: #23A6F0;
    transition: 1s;
}


/*Pricing section*/

.pricing{
    margin: 0;
    padding-left: 20vw;
    padding-right: 20vw;
    padding-top: 15vh;
    padding-bottom: 15vh;

}
.green{
    color: green;
}

.gray{
    color: #b3b3b3;
}

.card-price{
    border: 1px solid #23A6F0;
    padding: 10px;
    background: #f2f2f2;
    border-radius: 20px;
    padding-bottom: 3vw;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.price-tag{
    padding-top: 4vw;
}

.price-header{
    text-align: center;

}
.card-content{
    text-align: center;
}

.card-content h1{
    color: #23A6F0;
    font-weight: bold;
    font-size: 25px;
    padding: 15px;
}

.card-content h2{
    font-size: 2vw;
    padding: 15px;
}

.zero{
    padding: 0.5px;
}

.long{
    top: -20px;
    position: relative;
    padding-top: 30px;
}

.card-content button{
    width: 70%;
    background-color: #23A6F0;
    border: none;
    border-radius: 5px;
    margin-top: 1.5vw;
    padding: 10px;
    color: white;
}

.card-content button:hover{
    background-color: wheat;
    color: #23A6F0;
    transition: 1s;
}

.cl-card{
    background-color: #252B42;
    color: white;
}

sup{
    font-size: 10px;
    outline: none;
}

sub{
    font-size: 7px;
    vertical-align: 0;
    margin: 0;
    padding: 0;
    outline: none;
}

/* Styling branches*/

.branches{
    padding-left: 8vw;
    padding-bottom: 3vw;
    padding-right: 8vw;
    background-size: 1vw;
    background-color: #252B42;
    background-position: 5vw;
    background: linear-gradient(180deg, #252B42 70%, #f2f2f2 30%);

}

.map{
    padding-top: 3vw;
}
.small-heading{
    color: whitesmoke;
}
.world-map img{
    max-width: 100%;
    padding-top: 4vw;

}


/* Form */

.forms{
    padding: 5vw;
    justify-content: center;
}

.forms img{
    max-height: 37vw;
}

.form-content{
    display: flex;
    justify-content: center;
}
form{
    display: block;
    padding: 25px;
    width: 30vw;
    background-color: white;
}
form input, select{
    display: block;
    width: 100%;
    padding: 15px;
    border: none;
    background-color: #f2f2f2
} 


form label{
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: 350;

}

form button{
    padding: 10px;
    background-color: #23A6F0;
    text-align: center;
    width: 100%;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    border: none;
}

form button:hover{
    background-color: wheat;
    color: #090d0f;
    transition: 1s;
    cursor: pointer;
}


.contact-area button{
    float: right;
    padding: 10px;
    background-color: #23A6F0;
    border: none;
    border-radius: 5px;
    margin-right: 10vw;
}

hr{
    display: none;
}

.clasic-btn {
    font-size: 20px;
    font-weight: bold;
}

.btn-hover:hover{
    background-color: wheat;
    color: #23A6F0;
    transition: 1s;
}

.details{
    padding-top: 4vw;
    padding-left: 8vw;
    padding-right: 8vw;
}

footer{
    padding-right: 8vw;
    padding-left: 8vw;
    background: #f2f2f2;
}

footer h6{
    float: right;
    padding-right: 2vw;
}

footer p{
    display: inline;
    color: #23A6F0;
    padding: 15px;
    float: right;
}

.teal{
    color: #23A6F0;
}
/* common*/
.ig{
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}


/*Rsponsiveness*/

@media screen and (max-width:600px) {
    [class*="column-"]{
        float: left;
        padding: 10px;
        justify-content: center;
    }
    
    .column-third{
        width: 100%;
    }
    
    .column-half{
        width: 100%;
    }
    .column-quoter{
        width: 100%;
    }
    
    .column-three-quoter{
        width: 100%;
    }
    
    .column-fidth{
        width: 100%;
        float: left;
    }
    .form-content{
        display: block;
        width: 100%

    }

    .world-map img{
        height: 100%;

    }

    .forms img{
        width: 100%;
        max-height: 100%;
    }
    form{
        width: 100%;
    }
    .company-name{
        display: block;
    }
    .links li{
        padding-top: 10px;
        display: block;
        padding: 0;
        justify-content: unset;
    }

    .links a{
        padding-top: 15px;
    }

    .card-content h1{
        font-size: 30px;
    }

    .card-content h2{
        font-size: 20px;
    }

    footer p{

        justify-content: space-around;
    }
    .links ul{
        padding: 0;
    }

    .pricing{
        padding: 30px;
    }
    .newsletter p{
        float: unset;
    }

    hr{
        display: block;
        width: 60%;
    }
    
    .bottom{
        display: flex;
        justify-content: space-around;
    }

    .welcome h1{
        font-size: 3px;
    }
}


/*Animation*/
.anime:hover{
    animation: anime 3s ease;
    color: white;
}

@keyframes anime{
    from{
        top: 0px;
        background-color: white;
        color: black;
    }
    to{ 
        bottom: 300px;
        background-color: rgba(57, 170, 34, 0.4);
        color: #23A6F0;
    }
}